<section class="rounded shadow bg-main-light w-75 mx-auto my-3">
  @if (step1) {
    <form class="p-3" [formGroup]="emailForm" (ngSubmit)="emailfun()">
      <label for="email">{{ "AUTH.EMAIL" | translate }}</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        formControlName="email"
      />
      @if (emailForm.get("email")?.errors && emailForm.get("email")?.touched) {
        <div class="alert alert-danger p-1 small mt-1 mb-0">
          @if (emailForm.get("email")?.getError("required")) {
            <p class="mb-0">{{ "VALIDATION.REQUIRED" | translate }}</p>
          } @else if (emailForm.get("email")?.getError("email")) {
            <p class="mb-0">{{ "VALIDATION.EMAIL_INVALID" | translate }}</p>
          }
        </div>
      }
      <button [disabled]="isLoading" class="mt-1 btn-main text-capitalize">
        {{ "AUTH.SUBMIT" | translate }}
      </button>
    </form>
  }
  @if (step2) {
    <form class="p-3" [formGroup]="verifyCodeForm" (ngSubmit)="verifyCodefun()">
      <label for="resetCode" class="text-capitalize">{{ "AUTH.RESET_CODE" | translate }}</label>
      <input
        type="text"
        name="resetCode"
        id="resetCode"
        class="form-control"
        formControlName="resetCode"
      />
      @if (
        verifyCodeForm.get("resetCode")?.errors &&
        verifyCodeForm.get("resetCode")?.touched
      ) {
        <div class="alert alert-danger p-1 small mt-1 mb-0">
          <p class="mb-0">{{ "VALIDATION.REQUIRED" | translate }}</p>
        </div>
      }
      <button [disabled]="isLoading" class="mt-1 btn-main text-capitalize">
        {{ "AUTH.SUBMIT" | translate }}
      </button>
      <p class="mt-2 alert alert-success">{{ userMsg }}</p>
    </form>
  }
  @if (step3) {
    <form
      class="p-3"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="resetPasswordfun()"
    >
      <label for="newPassword" class="text-capitalize">{{ "AUTH.NEW_PASSWORD" | translate }}</label>
      <input
        type="password"
        name="newPassword"
        id="newPassword"
        class="form-control"
        formControlName="newPassword"
      />
      @if (
        resetPasswordForm.get("newPassword")?.errors &&
        resetPasswordForm.get("newPassword")?.touched
      ) {
        <div class="alert alert-danger p-1 small mt-1 mb-0">
          @if (resetPasswordForm.get("newPassword")?.getError("required")) {
            <p class="mb-0">{{ "VALIDATION.REQUIRED" | translate }}</p>
          } @else if (
            resetPasswordForm.get("newPassword")?.getError("pattern")
          ) {
            <p class="mb-0">{{ "VALIDATION.PASSWORD_INVALID" | translate }}</p>
          }
        </div>
      }
      <button [disabled]="isLoading" class="mt-1 btn-main text-capitalize">
        {{ "AUTH.SUBMIT" | translate }}
      </button>
      <p class="mt-2 alert alert-success">{{ userMsg }}</p>
    </form>
  }
</section>
