<footer class="bg-main-light py-5 .force-ltr">
  <div class="container">
    <h2 class="h4">{{ "FOOTER.GET_APP" | translate }}</h2>
    <p class="text-muted small">
      {{ "FOOTER.SEND_LINK_TEXT" | translate }}
    </p>

    <!-- inputs design  -->
    <div class="d-flex align-items-center gap-3 text-nowrap">
      <input type="text" class="form-control" placeholder="{{ 'FOOTER.INPUT_PLACEHOLDER' | translate }}" />
      <button class="btn-main">{{ "FOOTER.SHARE_LINK" | translate }}</button>
    </div>

    <hr />

    <!-- footer payment Details Design  -->
    <div class="pay-details d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center gap-2">
        <h3 class="h6 m-0">{{ "FOOTER.PAYMENT_PARTNERS" | translate }}</h3>
        <img src="./assets/images/amazon-pay.png" width="30px" alt="" />
        <img
          src="./assets/images/American-Express-Color.png"
          width="30px"
          alt=""
        />
        <img src="./assets/images/paypal.png" width="30px" alt="" />
        <img src="./assets/images/mastercard.webp" width="30px" alt="" />
      </div>

      <div class="d-flex align-items-center gap-2">
        <h3 class="h6 m-0">{{ "FOOTER.DELIVERIES" | translate }}</h3>
        <img src="./assets/images/get-google-play.png" width="75px" alt="" />
        <img src="./assets/images/get-apple-store.png" width="75px" alt="" />
      </div>
    </div>
  </div>
</footer>
